@model _23DH113462_MyStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<head>
    <style>
        img {
            height: 250px;
            max-width: 250px;
        }
    </style>
</head>

<h2 class="bg-success">CHI TIẾT SẢN PHẨM</h2>

@Html.Partial("PVProductInfo", Model)

<div>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.ProductID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
</div>